@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

:root{
    --black: #000000;
    --off-white:#EFF6FF;
    --green: #34D399;
    --white: #FFFFFF;

}

p{
    font-size: x-large;
    margin: 0rem 10rem;
    padding: 1rem;
}
h1{
    font-size: xxx-large;
}
h2{

    font-size: xx-large;
}

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px, 300px;
    /* font-weight: bold; */
    text-align: center;
    margin: 0px;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
}
/* hr{
    margin: 2rem 0rem;
} */
.non-bullet{
    list-style: none;
}
.inline{
    display:inline;
    padding: 0rem 1rem;
}
.nav-items{
    text-align: center;
    font-size: larger;
}
.nav-brand{
    padding: 1rem 0rem;
    font-size: x-larger;
    color: black;
}
.container {
    padding: 0rem 0.5rem;
}
/* The navigation bar */
.navigation{
    overflow: hidden;
    background-color:#F3F4F6;
    position: fixed;
    top: 0; 
    width: 100%;
    height: 60px;
    background: linear-gradient(#B2B0B0,white );
}
.navigation a:hover {
    background: var(--black);
    color: var(--white);
  }

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}
.link-black {
    background-color: var(--green);
    border-radius: 0.5rem;
    color: black;
    font-size: x-large;
    
}
.link-white {
    background-color: var(--green);
    border-radius: 0.5rem;
    color: white;
    font-size: x-large;
}
.nav-inactive{
    color:black;
    font-weight: bolder;
}
.nav-active{
    color:var(--white);
    font-weight: bolder;
    background-color: var(--black);
    border-radius: 0.25rem;
}
.offwhite-cont{
    background-color: var(--off-white);
    padding: 2rem;
    font-weight: bold;
}
.name{
    color: var(--green);
}
.black-cont{
    background-color: var(--black);
    padding:2rem;
    color: var(--white);
}
.footer-items{
    text-align: center;
    font-size: large;
}

.footer {
    background-color: var(--white);
    padding: 0rem 1rem;
    text-align: center;
    color: var(--black);
    border-top-right-radius: 1rem;
    font-weight:bold ;
}

.footer .link {
    color: black;
}

.footer .footer-header {
    font-weight: bold;
    font-size: .75cm;
}

.footer ul {
    padding-inline-start: 0px;
}
.img-intro{
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 95px 0px 0px 0px;
    width: 250px;

  }

.img-blog{
    max-width: 100px;
    display: block;
    margin: auto;
    padding: 0rem;
}
.img-project{
    max-width: 100px;
    display: block;
    margin: auto;
    padding: 0rem;
}
.img-footer{
    max-width: 100px;
    display: block;
    margin: auto;
    padding: 1rem;
}
.date{
    font-size: small;
    color: var(--white)
}
hr{
    max-width: 300px;
    align-self: center;
}
.link-heading{
    color: var(--green);
    outline-style: none;
}
.link-heading:hover{
    background-color: white;
    color: var(--green);
    border:solid black;
    border-radius: 1rem;
    padding: 1rem;
}
.tittle{
    text-align: center;
    padding: 95px 0px 0px 0px;
}
.blog-tittle{
    padding: 2rem;
}


.blog-date{
    font-size: small;
    color: var(--green);
}
.hello{
    font-size: large;
    /* padding:2rem; */
}
.intro{
    background-color: var(--off-white);
    padding: 0rem 4rem;
    font-weight: bold;
}
.link-white:hover {
    background-color: white;
    color: var(--green);
    border:solid black;
}

.link-black:hover {
    background-color: black;
    color: var(--green);
    border:solid white;
}
.emphasis{
    font-weight: bolder;
    font-style: italic;
    
}
/* .test{
     
} */
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }








